## The Question:
Which outfeild position has the most put outs? 
Is it becuase they get more chances or the better players make the plays?

## The plan:
The plan will be to gather all outs that have an outfielder listed in the description (ie. "Cody Bellinger flies out to left **fielder** Marwin Gonzalez.").

Here are the types of outs that we are looking for in the description of the at bat:
Groundout, Flyout, Pop Out, Lineout, Forceout, Grounded Into DP, Bunt Pop Out, Bunt Groundout, Fielders Choice Out, Sac Fly DP, Sacrifice Bunt DP, and Bunt Lineout 

We'll weed out any events that don't include the date, because I think its important to look at the time frame of the events as well.

In [2]:
import pandas as pd
import numpy as np

all_outs = pd.read_csv("data/outfield-putouts.csv")
all_outs.head()

,num,b,s,o,start_tfs,start_tfs_zulu,batter,stand,b_height,pitcher,...,next_,gameday_link,atbat_des_es,event_num,event_es,event2_es,event3_es,end_tfs_zulu,event4_es,play_guid
0,14,0,0,3,183602,2010-03-02T18:36:02Z,534584,R,5-11,457435,...,Y,gid_2010_03_02_flsbbc_detmlb_1,Zach Maggard batea elevado de out a jardinero ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51,0,0,3,201831,2010-03-02T20:18:31Z,518557,R,6-1,434619,...,Y,gid_2010_03_02_flsbbc_detmlb_1,Kelvin Clark batea lÃƒÂ­nea de out a jardinero...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31,0,0,1,190825,2010-03-02T19:08:25Z,518557,R,6-1,444382,...,Y,gid_2010_03_02_flsbbc_detmlb_1,Kelvin Clark batea elevado de out a jardinero ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16,0,0,1,184511,2010-03-02T18:45:11Z,276361,R,6-0,534581,...,Y,gid_2010_03_02_flsbbc_detmlb_1,Adam Everett batea elevado de out a jardinero ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17,0,0,2,184520,2010-03-02T18:45:20Z,457706,R,6-1,534581,...,Y,gid_2010_03_02_flsbbc_detmlb_1,Austin Jackson batea elevado de out a jardiner...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Above is an example of all the data that we have.

In [5]:
trimed_down = all_outs[["event", "atbat_des", "start_tfs_zulu"]].copy()
trimed_down.head()

,event,atbat_des,start_tfs_zulu
0,Flyout,Zach Maggard flies out to center fielder Austi...,2010-03-02T18:36:02Z
1,Lineout,Kelvin Clark lines out to right fielder Ryan R...,2010-03-02T20:18:31Z
2,Flyout,Kelvin Clark flies out to right fielder Brenna...,2010-03-02T19:08:25Z
3,Flyout,Adam Everett flies out to center fielder Trae ...,2010-03-02T18:45:11Z
4,Flyout,Austin Jackson flies out to center fielder Tra...,2010-03-02T18:45:20Z

Here we have the data that we need, but let's just grab who the out goes to.

In [9]:
trimed_down.count()

event             719563
atbat_des         719563
start_tfs_zulu    719563
dtype: int64

Looks like we have almost 720,000 outs created from the outfield.

In [10]:
center_fielder = 0
right_fielder = 0
left_fielder = 0

for index, row in trimed_down.iterrows():
    if "center fielder" in row['atbat_des']:
        center_fielder += 1
    if "right fielder" in row['atbat_des']:
        right_fielder += 1
    if "left fielder" in row['atbat_des']:
        left_fielder += 1
        
print("Center Fielder outs: ", center_fielder)
print("Right Fielder outs: ", right_fielder)
print("Left Fielder outs: ", left_fielder)

Center Fielder outs:  272646
Right Fielder outs:  218558
Left Fielder outs:  202769